@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@600&family=Space+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

main {
    color: #333;
}

header h1 {
    font-family: Inconsolata;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
}

.text-info {
    letter-spacing: -0.035em;
}

.text-info h2 {
    font-family: Space Mono;
    font-size: 48px;
    line-height: 71px;
}

.text-info p {
    font-family: Space Mono;    
    font-size: 18px;
    line-height: 27px;
    color: #4F4F4F;
}

.text-info a {
    font-family: Space Mono;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #333;
    display: inline-block;
    padding: 24px 43px;
    text-decoration: none;
}

.img-png {
    padding: 3em;
}

footer span {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px;
}

